%form{action: '/students', method: 'post'}
  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#student_name.mdc-text-field__input{type: "text", name: 'student[nombre]'}/
    %label.mdc-floating-label{for: 'student_name'} Nombre
    .mdc-line-ripple

  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#student_program.mdc-text-field__input{type: 'text', name: 'student[programa]'}
    %label.mdc-floating-label{for: 'student_program'} Programa
    .mdc-line-ripple

  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#student_dob.mdc-text-field__input{type: 'date', name: 'student[fecha_nacimiento]'}
    %label.mdc-floating-label{for: 'student_dob'} Fecha de nacimiento
    .mdc-line-ripple

  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#student_mail.mdc-text-field__input{type: 'email', name: 'student[correo]'}
    %label.mdc-floating-label{for: 'student_mail'} Correo electrónico
    .mdc-line-ripple

  %button{type: 'submit'} Guardar
