%h1 Listado de estudiantes

%a.mdc-button.mdc-button--outlined{href: '/students/new'}
  %i.material-icons.mdc-button__icon{"aria-hidden" => "true"} person_add
  %span.mdc-button__label Crear Alumno

%hr/

%table{style: 'text-align: center'}
  %thead
    %tr
      %th Nombre
      %th Correo
      %th Fecha de nacimiento
      %th Programa
  %tbody
    - @students.each_with_index do |student, index|
      %tr
        %td
          %a{href: "/students/#{index}"}= student.nombre 
        %td= student.programa
        %td= student.fecha_nacimiento
        %td= student.correo
