<h1> <%= @student.nombre %> </h1>

<ul>
  <li><%= @student.programa %></li>
  <li><%= @student.fecha_nacimiento %></li>
  <li><%= @student.correo %></li>
</ul>

<a href='/students'> Volver volver </a>
