%form{action: '/teachers', method: 'post'}
  .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon{"data-mdc-auto-init": "MDCTextField"}
    %i.material-icons.mdc-text-field__icon person
    %input#teacher_name.mdc-text-field__input{type: "text", name: 'teacher[name]'}/
    .mdc-notched-outline
      .mdc-notched-outline__leading
      .mdc-notched-outline__notch
        %label.mdc-floating-label{for: 'teacher_name'} Nombre
      .mdc-notched-outline__trailing
      
  .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon{"data-mdc-auto-init": "MDCTextField"}
    %i.material-icons.mdc-text-field__icon person
    %input#teacher_program.mdc-text-field__input{type: 'text', name: 'teacher[program]'}
    .mdc-notched-outline
      .mdc-notched-outline__leading
      .mdc-notched-outline__notch
        %label.mdc-floating-label{for: 'teacher_program'} Programa
      .mdc-notched-outline__trailing

  .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon{"data-mdc-auto-init": "MDCTextField"}
    %i.material-icons.mdc-text-field__icon person
    %input#teacher_dob.mdc-text-field__input{type: 'date', name: 'teacher[birthday]'}
    .mdc-notched-outline
      .mdc-notched-outline__leading
      .mdc-notched-outline__notch
        %label.mdc-floating-label{for: 'teacher_birthday'} Fecha de nacimiento
      .mdc-notched-outline__trailing

  .mdc-text-field.mdc-text-field--outlined.mdc-text-field--with-leading-icon{"data-mdc-auto-init": "MDCTextField"}
    %i.material-icons.mdc-text-field__icon person
    %input#teacher_mail.mdc-text-field__input{type: 'email', name: 'teacher[email]'}
    .mdc-notched-outline
      .mdc-notched-outline__leading
      .mdc-notched-outline__notch
        %label.mdc-floating-label{for: 'teacher_mail'} Correo electrónico
      .mdc-notched-outline__trailing

  %button.mdc-button.mdc-button--outlined{type: 'submit'}
    %i.material-icons.mdc-button__icon{"aria-hidden" => "true"} save
    %span.mdc-button__label Guardar

