%form{action: '/teachers', method: 'post'}
  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#teacher_name.mdc-text-field__input{type: "text", name: 'teacher[nombre]'}/
    %label.mdc-floating-label{for: 'teacher_name'} Nombre
    .mdc-line-ripple

  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#teacher_program.mdc-text-field__input{type: 'text', name: 'teacher[programa]'}
    %label.mdc-floating-label{for: 'teacher_program'} Programa
    .mdc-line-ripple

  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#teacher_dob.mdc-text-field__input{type: 'date', name: 'teacher[fecha_nacimiento]'}
    %label.mdc-floating-label{for: 'teacher_dob'} Fecha de nacimiento
    .mdc-line-ripple

  .mdc-text-field{"data-mdc-auto-init": "MDCTextField"}
    %input#teacher_mail.mdc-text-field__input{type: 'email', name: 'teacher[correo]'}
    %label.mdc-floating-label{for: 'teacher_mail'} Correo electrónico
    .mdc-line-ripple

  %button.mdc-button.mdc-button--outlined{type: 'submit'}
    %i.material-icons.mdc-button__icon{"aria-hidden" => "true"} save
    %span.mdc-button__label Guardar
